@media screen and (max-width: 1000px) {
    .cards .card {
        width: 30% ; 
        margin-bottom: 2%;
    }
    .cards img{
        height: 20%;
        width: 25%;
    }
    .cards h3{
        font-size: 100%;
    }
    .cards p{
        font-size: 80%;
    }
}

@media screen and (max-width: 600px) {
    .cards .card {
        width: 60% ; 
        gap: 1rem !important;
        height: 25% !important;
    }
    .cards img{
        height: 20%;
        width: 20%;
    }
    #about .container {
        margin-top: 10%;
    }
}
@media screen and (max-width: 602px){
    .cards {
        display: flex;
        flex-direction: column; 
        align-items: center;   
    }
    .cards .card {
        width: 60%;       
        height: 30% !important;    
        margin-bottom: 5%;
    }
    .cards p{
        margin-bottom: 3% !important;
    }
}
@media screen and (max-width: 550px) {
    .cards .card {
        width: 60% ; 
        gap: 1rem !important;
        height: 28%;
    }
}

