@media screen and (max-width: 1000px) {
    .cards .card {
        width: 30% ; 
        margin-bottom: 2%;
    }
    .cards img{
        height: 20%;
        width: 25%;
    }
    .cards h3{
        font-size: 100%;
    }
    .cards p{
        font-size: 80%;
    }
}

@media screen and (max-width: 600px) {
    .cards .card {
        width: 60% ; 
        gap: 1rem !important;
        height: 25% !important;
    }
    .cards img{
        height: 20%;
        width: 20%;
    }
}
@media screen and (max-width: 550px) {
    .cards .card {
        width: 60% ; 
        gap: 1rem !important;
        height: 28%;
    }
}
@media screen and (max-width: 720px) {
    .cards .card {
        height: 50%;
    }

}