html{
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif,'Segoe UI', Tahoma, Geneva, Verdana;
    width: 100%;
}
.navbar {
    margin: 0;
    width: 100%;
    height: 60px;
    border-bottom: 2px solid rgb(150, 212, 229);
    box-shadow: 0 5px 10px -2px rgb(150, 212, 229);
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    height: 40px;
}

.navbar-logo {
    width: 70px;
    height: auto;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar-menu li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-family: sans-serif;
}


.nav_icons img {
    width: 16px;
    height: 16px;
    margin-left: 15px;
    cursor: pointer;
}

.nav_icons {
    display: flex;
    align-items: center;
}
