html{
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif,'Segoe UI', Tahoma, Geneva, Verdana;
    width: 100%;
}

section {
    scroll-margin-top: 12vh;
}

.navbar {
    margin: 0;
    width: 100%;
    height: 7.5%;
    border-bottom: 2px solid rgb(150, 224, 229);
    box-shadow: 0 5px 10px -2px rgb(150, 224, 229);
    position: fixed;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center ;
    z-index: 1000;
}

.nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100vh;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: rgba(255, 255, 255, 0.15);
    padding: 1.39vw;
    z-index: 999;
}

.container-nav {
    max-width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2% 0;
}

.navbar-logo {
    max-width: 6%;
    height: auto;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
    max-width: 80%;
    padding: 0;
}

.navbar-menu li a {
    max-width: 80%;
    text-decoration: none;
    color: #000;
    font-size: 1.3vw;
    font-family: sans-serif;
}

.nav_icons img {
    max-width: 10%;
    max-height: 10%;
    margin-left: 4%;
    cursor: pointer;
}

.nav_icons {
    gap : 5%;
    max-width: 16%;
    max-height: 16%;
    display: flex;
    align-items: center;
}

.nav_list {
    display: none;
}









#Home {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    max-width: 100%;
    background: url(img/bg.png) no-repeat center center;
    background-size: 85% auto;

}


#Home .container {
    display: flex;        
    align-items: flex-start;
    justify-content: space-between;
    max-width: 85%;
    gap: 5%;
}

.home-text {
    max-width: 50%;            
    color: #000;
    margin: 10% 0;
}

.home-text h1 {
    font-size: 3vw;
}

.home-text p {
    font-size: 1.1vw;
    margin: 10% 0;
}

.home-span {
    color: rgb(57, 169, 162);
}

.home-text .btn {
    margin-top: 2%;
    color: #fff;
    background-color: rgb(57, 169, 162);
    padding: 1.5% 3.5%;
    border: none;
    font-size: 1vw;
    cursor: pointer;
    transition: all 0.3s ease;
}

.home-text .btn:hover {
    background-color: rgb(57, 169, 162);
    transform: translateY(-10%);
    box-shadow: 0 5px 15px rgba(69, 196, 196, 0.4);
}

.home-img {
    margin: 9% 0;
    width: 40%;          
    display: flex;
    justify-content: center;
}

.home-img img {
    width: 100%;
    height: auto;
}










.cards {
    max-width: 100%;
    padding: 3% 0;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.cards .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4%;
    max-width: 90%;
}

.cards .card {
    width: 19%;
    box-shadow: 0px 0px 5px 5px rgb(150, 228, 229);
    border-radius: 0.4%;
    padding: 1%;
    text-align: center;
    background-color: #fff;
    transition: all 0.3s ease;
    cursor: pointer;
}

.cards .card:hover {
    transform: translateY(-5%) scale(1.03);
    box-shadow: 0 10px 20px rgba(150, 212, 229, 0.6);
}

.cards .card img {
    max-width: 83%;
    height: 40%;
}

.cards .card h3 {
    margin: 0;
    font-size: 1.4vw;
}

.cards .card p {
    color: #555;
    margin-bottom: 0;
    font-size: 1.3vw;
}









#about {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

#about .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;
    gap: 10%;
}

.about-text {
    max-width: 40%;
    color: #000;
}

.about-text h1 {
    font-size: 2.8vw;
}

.about-text p {
    font-size: 1vw;
    margin: 10% 0;
}

.about-text .btn {
    color: #fff;
    background-color: rgb(57, 169, 162);
    padding: 1vh 3vw;
    border: none;
    font-size: 1.3vw;
    cursor: pointer;
    transition: 0.3s;
}

.about-text .btn:hover {
    background-color: rgb(57, 169, 162);
    transform: translateY(-5%);
}

.about-img {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-img img {
    width: 100%;
    height: auto;
}

.about-text .btn {
    margin-top: 2%;
    color: #fff;
    background-color: rgb(57, 169, 162);
    padding: 1.5% 3.5%;
    border: none;
    font-size: 1vw;
    cursor: pointer;
    transition: all 0.3s ease;
}

.about-text .btn:hover {
    background-color: rgb(57, 169, 162);
    transform: translateY(-10%);
    box-shadow: 0 5px 15px rgba(69,183,196,0.4);
}








#Featured {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 5% 0;
    width: 100%;
}

#Featured .container {
    max-width: 90%;
    margin: auto;
}

#Featured h1 {
    font-size: 2.8vw;
    margin-bottom: 3%;
}

#Featured .cards-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

#Featured .cards {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    gap: 2vw;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-right: 2vw; 
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) #fbf8f8 ;
}

#Featured .cards-wrapper::-webkit-scrollbar {
    height: 0.8vh;       
}

#Featured .cards-wrapper::-webkit-scrollbar-track {
    background: #f0f0f0;  
}

#Featured .cards-wrapper::-webkit-scrollbar-thumb {
    background: rgb(69, 183, 196);  
    border-radius: 5vw;             
}

#Featured .cards-wrapper::-webkit-scrollbar-thumb:hover {
    background: rgb(50, 150, 170);
}

#Featured .cards-wrapper {
    scrollbar-width: thin;
    scrollbar-color: rgb(57,169,162) #f0f0f0;
}

#Featured .card {
    min-width: 15vw;
    border: 0.1vw solid rgb(57,169,162) 
    text-align: center;
    margin-left: 1.39vw;
    margin-bottom: 0.69vw;
    padding: 0.35vw;
    white-space: nowrap;
    transition:all 0.3s ease ;
}

#Featured .card:hover {
    box-shadow: 0 0 7px rgb(57, 169, 162);
    transform: translateY(-5%);
}

#Featured .card img {
    width: 100%;
    max-height: 18vw;
    object-fit: cover;
}

#Featured .card h3 {
    font-size: 1.5vw;
    margin: 1vh 0;
}

#Featured .card p {
    font-size: 1.2vw;
    color: #8e8d8d;
    font-weight: 500;
    margin: 0 0 1rem 0;
}

#Featured .span1 {
    font-size: 1vw;
    color: rgb(57, 169, 162);
    font-weight: 500;
}

#Featured .span2{
    color: #000;
    font-size: 1vw;
    font-weight: 600;
}

#Featured .feat-btn {
    margin-top: 2%;
    height: 3vw;
    color: #000;
    background-color: #fff;
    border: 0.15vw solid rgb(57, 169, 162);
    box-shadow: 0 0 3px rgb(57, 169, 162);
    padding: 5% 20%;  
    font-size: 1vw; 
    transition: all 0.3s ease;
    margin-bottom: 0.5rem;
}

#Featured .feat-btn:hover {
    background-color: rgb(57, 169, 162);
    color: #fff;
    box-shadow: 0 5px 15px rgba(69,183,196,0.4);
    transform: translateY(-5%);
}

#Arrivals {
    padding: 50px 0;
    text-align: center;
    background: #fff;
    font-family: sans-serif;
}
.arrivals-container {
    display: flex;
    flex-wrap: wrap;
    gap: 55px;
    width: 95%;
    margin: auto;
    justify-content: center;
}
.Arrival-card {
    background: #ffffff;
    border: 1px solid #383737;
    padding: 6px 10px;
    border-radius:2px;
    transition: 0.3s;
    width:160px ;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Arrival-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.15);
}
.Arrival-card img {
    width: 120px;
    height: 70%;
    margin-bottom: -8px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.311);
}
.Arrival-card h3 {
    font-size: 16px;
    font-weight: normal;
    margin: 10px 0;
}
.stars i {
    color: rgb(57, 169, 162);  
    font-size: 12px;
}
.arrival-btn {
    height: 30px;
    color: #000;
    background-color: #fff;
    border: 0.15vw solid rgb(57, 169, 162);
    box-shadow: 0 0 3px rgb(57, 169, 162);
    padding: 9px 20px;  
    font-size: 12px; 
    transition: all 0.3s ease;
    margin-top: 8px;
}

.arrival-btn:hover {
    background-color: rgb(57, 169, 162);
    color: #fff;
    box-shadow: 0 5px 15px rgba(69,183,196,0.4);
    transform: translateY(-5%);
}




#Reviews {
    text-align: center;
    padding: 50px 0;
    font-family: sans-serif;
}
#Reviews .container {
    display: flex;
    flex-wrap: wrap;
    width: 93%;
    margin: auto;
    gap: 14px;
    justify-content: center;
}
.card-review {
    background: #fff;
    border: 1.5px solid rgb(182, 252, 248);
    box-shadow: 0 0 3px rgb(57, 169, 162);
    padding: 10px;
    width: 255px; 
    height: auto;
    position: relative;
    text-align: left;
    transition: 0.3s;
}
.card-review:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.review-img{
    object-fit: cover;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.card-review h3{
    margin: 0;
    font-weight: bold;
    font-size: 18px;
}
.card-review p{
    font-size: 11px;
    margin: 5px 0;
}

.stars i {
    color: rgb(57, 169, 162);  
    font-size: 12px;
}


.quote {
    position: absolute;
    top: 6px;
    font-size: 70px;
    right: 15px;
    color: #e8e8e8;
}


#Digital-Book{
    background-image:url(./img/banner.jpg);
    background-size: cover;
    width: 100%;
    height: 50vh;
    background-position: center;
    position: relative;
}
#Digital-Book .Dig-book-btn{
    color: #fff;
    background-color: rgb(57, 169, 162);
    text-decoration: none;
    position: absolute;
    top: 230px;
    left: 90px;
    padding: 7px 17px;
}


#Our-Blog {
    text-align: center;
    padding: 30px 0;
    font-family: sans-serif;
}
#Our-Blog .Blog-container {
    display: flex;
    flex-wrap: wrap;
    width: 93%;
    margin: auto;
    gap: 80px;
    justify-content: center;
}
.Blog-card {
    background: #fff;
    border: 1.2px solid rgba(58, 53, 53, 0.176);
    width: 310px; 
    height: auto;
    position: relative;
    text-align: left;
    transition: 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
#Our-Blog .Blog-card img{
    padding: 0%;
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: 0%;
}
#Our-Blog .Blog-card h3{
    font-size: 18px;
    font-weight: bold;
    padding: 0px 12px;
    color:rgb(57, 169, 162) ;
}
#Our-Blog .Blog-card p{
    font-size: 12px;
    padding: 0px 12px;
}
.Blog-icon{
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
    padding: 0px 12px;
    cursor: pointer;
    color:rgb(57, 169, 162) ;
    font-size: 12px;
}



#footer {
    background: #e7e7e7;
    padding: 17px 40px;
}

.footer-logo {
    width: 80px;
    height: auto;
}
#footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 70px;
}

.f-box {
    max-width: 180px;
}
.f-box h3 {
    margin-bottom: 17px;
}

.f-box p {
    font-size: 12px;
    text-align: justify;
    line-height: 1.3;
    margin-bottom: 8px;
}
.f-box a {
    display: block;
    color: #000;
    font-size: 12px;
    margin-bottom: 5px;
    text-decoration: none;
}
.follow-icon i {
    font-size: 12px;
    margin-right: 10px;
    cursor: pointer;
}

.f-box input {
    width: 100%;
    padding: 6px 15px;
    border-radius: 19px;
    background: #d4d4d4;
    border: none;
}

.f-box button {
    padding: 5px 14px;
    border: none;
    border-radius: 20px;
    background: rgb(57, 169, 162);
    color: #fff;
    cursor: pointer;
    margin-top: 8px;
}
.Attribution{
    text-align: center;
    margin-top: 10px;
}
.Attribution p {
    font-size: 12px;
}
.Attribution span {
    color: rgb(57, 169, 162);
}