.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    height: 60px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
}
