.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    height: 60px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
}


.navbar-menu li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 16px;
}
