.container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    height: 60px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.navbar-menu li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 16px;
}


.nav_icons img {
    width: 25px;
    height: 25px;
    margin-left: 15px;
    cursor: pointer;
}

.nav_icons {
    display: flex;
    align-items: center;
}
